
    #homeSlider {
      background: white;
      font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
      font-size: 14px;
      color: #000;
      margin: 0;
      padding: 20px;
    }

    #homeSlider .swiper {
      width: 100%;
      height: 100%;
    }

    #homeSlider  .swiper-slide {
      text-align: center;
      font-size: 18px;
      background: #fff;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    #homeSlider  .swiper-slide img {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  
    #CreatePizza{

        background-image:url(/assets/img/create-your-own-banner.77d7e725.webp);
    }
    #CreatePizza a{
        background-color: #D2112C;

        padding: 20px 40px;
        color: white;
        font-weight: bold;



    }
  .createPizza{
    position: relative;
  }
#CreatePizzabtn{
    position: absolute;
   
    top: 220px;
    left: 132px;
}

#Earn{
    padding: 2rem 0;

}
#Earn h2{
    color: #AD0F14;font-weight: bold;
}

#Earn h1{
    color: #007EB0;
    ;font-weight: bold;
    margin-bottom: 20px;
    font-size: 39px;
}
#Earn h3{
    line-height: 44px;
    color: grey;
    font-size: 25px;
    margin-bottom: 20px;
}

#Earn a{
    background-color: #AD0F14;
    color: white;
    padding: 13px 58px;
    border-radius: 10px;
}
#Earn a i{
    padding-right: 10px;
}
#homeVideo h1{
    font-size: 56px;
color:#AD0F14;
line-height: 101px;
}


#pizzaPictures img{
    width: 100%;
    height: 100%;
transition: 0.5s;
    filter: grayscale(0.4);
}

#pizzaPictures img:hover{
    transform: scale(1.1);
    filter: grayscale(0.1);

}


#Services{
    background-image: url(/assets/img/services.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    padding: 4rem 0;

}


#Services i {
    font-size: 50px;
}
#Services h3{
    margin: 10px 0px;
}