

    #Opportunities{
        padding: 2rem 0;
    }
   
#Opportunities .card{
    border:none;

}
#Opportunities .card .card-body a:first-child{

    background-color: #0F9675;
  
}
#Opportunities .card .card-body a{
    font-size: 20px;
    font-weight: bold;
    border: 0;
    color: white;
}

#Opportunities .card .card-body a:last-child{

    background-color:#AD0F14;
   
}