
#Pastas .card a{
    background-color: #0F9675;
    outline: none;
    border: 0;
    padding:  10px 20px; 
    font-weight: bold;

}
#Pastas .card{
    border: none;
    
}
#Pastas{
    padding: 20px 0px;
}