
#privateevents{
    background-image: url(/assets/img/evenstpizza.jpg);
    background-attachment: fixed;
    background-position:center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 2rem 0;
    
}


#privateevents h1{
    color: white;
    font-size: 80px;
    font-weight: bold;
    
}


#privateevents select{
    border: none;
    outline: none;
    padding: 10px;
    border-radius: 10px;
    background-color: #FFDDDD;
    font-weight: 100;
}
#privateevents input{
    background-color: #FFDDDD;
    width: 35%;
    height: 45px;
    border: none;
    border-radius: 8px;
    margin-bottom: 20px;
    padding: 26px 22px;
    outline: none;

}