
#privateevents{
    background-image: url(/assets/img/evenstpizza.jpg);
    background-attachment: fixed;
    background-position:center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 2rem 0;
  
    
}


#privateevents h1{
    color: white;
    font-size: 80px;
    font-weight: bold;
    
}


#privateevents select{
    border: none;
    outline: none;
    padding: 10px;
    border-radius: 10px;
    background-color: #FFDDDD;
    font-weight: 100;
}
#privateevents input{
    background-color: #FFDDDD;
    width: 35%;
    height: 45px;
    border: none;
    border-radius: 8px;
    margin-bottom: 20px;
    padding: 26px 22px;
    outline: none;

}

#privateevents button{
    color: white;
    background: #107A44;
    padding: 10px 25px;
    border-radius: 26px;
    margin-top: 20px;
    border: 0;
}


@media(max-width:576px) {
 
    #privateevents select, #privateevents input{
 
        margin: 10px 0;
        width: 100%;
    }

    #privateevents h1{
        font-size: 30px;
    }

}

@media only screen and (min-width: 768px) and (max-width: 1024px) 
{
   
    #privateevents select, #privateevents input{
 
        margin: 10px 0;
        width: 100%;
    }
    #privateevents h1{
        font-size: 40px;
    }
  

}


@media only screen and (min-width: 478px) and (max-width: 768px) 
{
   
    #privateevents select, #privateevents input{
 
        margin: 10px 0;
        width: 100%;
    }

    #privateevents h1{
        font-size: 35px;
    }
}
