
#Snacks .card a{
    background-color: #0F9675;
    outline: none;
    border: 0;
    padding:  10px 20px; 
    font-weight: bold;

}
#Snacks .card{
    border: none;
    height: 400px;
}
#Snacks{
    padding: 20px 0px;
}

@media(max-width:576px) {
 
    #Snacks .card{
      height: 500px;
    } 

}

