
  #Reservation h1:first-child{
    font-size: 70px;
    font-weight: bold;
    color: white;
    margin-bottom: 10px;
  }

 
  #Reservation p{
    color: white;
    font-weight: 100;
    margin-bottom: 20px;
  }
  
  #Reservation a{
    color: white;
    background-color:#AD0F14;
    padding: 17px 46px;
    border-radius: 19px;
  }
  #Reservation h1{
    color:white;
    font-weight: bold;
    font-size: 20px;
    margin: 20px 0 ;
    outline: none;
    
  }
  #Reservation select,#Reservation button{
    word-wrap: break-word;
    border: none;
    padding: 16px 63px;
    border-radius: 10px;
    outline: none;
  }
  #Reservation button{
    background-color: #AD0F14;
    color: white;
  }
  #Reservation .my-form{
    background-color: white;
    padding: 10px;
    border-radius: 10px;
}
  